
article{
    position:fixed;
    margin-left:10px;
}
#navse{
    background-color: #0074D9;
    position: fixed;
    left: 45%;
    top: -60px;
    width: auto;
    display: block;
    transition: top 0.3s;
}
#navse a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
}
#navse a:hover{
    background-color: #ddd;
    color:black;
}

